{% extends "admin/base.html.twig" %}

{% block title %} Edytuj Nieobecności - Admin {% endblock %}

{% block body %}
<form action="{{path('AbsenceAddAdmin',{id:id})}}" class="m-4" method="POST">
<table class="table" style="width:30%">
<tr><th>Imie i nazwisko</th><th>Obecny</th><th>Nieobecny</th><th>Spóźnienie</th><th>Nieoznaczony</th></tr>
{% for v in absence.json.students %}
    <tr><td>{{v.name}} {{v.surname}}</td>

    <br />
    <td> <input type="radio" name="student[OB][{{v.id}}]" {% if v.id in studentListId and v.type=='OB' %}checked{% endif %} /></td>
    <td> <input type="radio" name="student[NB][{{v.id}}]" {% if v.id in studentListId and v.type=='NB' %}checked{% endif %} /></td>
    <td> <input type="radio" name="student[SP][{{v.id}}]" {% if v.id in studentListId and v.type=='SP' %}checked{% endif %} /></td>
    <td>{% if v.id not in studentListId %}X{% endif %}</td>
    </tr>
{% endfor %}
</table>
<hr />

    <label for="subject">Przedmiot</label>
    <select class="form-control" id="subject" name="subject">
        {% for v in lessonList %}
            <option value="{{v.id}}" {% if v.id == absence.lesson %}selected{% endif %}>{{v.name}}</option>
        {% endfor %}
    </select>
<hr />
    <label for="teacher">Nauczyciel</label>
    <select class="form-control" id="teacher" name="teacher">
        {% for v in teacherList %}
            <option value="{{v.id}}" {% if v.id == absence.teacher %}selected{% endif %}>{{v.name}} {{v.surname}}</option>
        {% endfor %}
    </select>
<hr />
<label for="date">Data</label>
<input class="form-control" type="date" name="date" value="{{absence.date}}" /><br />

<table class="table" style="width:30%">
<tr><th>Godziny</th><th>X</th></tr>
{% for v in hours.timesJson.godziny %}
     <tr><td>{{v.rozpoczecie}} - {{v.koniec}}</td><td><input type="radio" name="dateHours" value="{{v.rozpoczecie}} - {{v.koniec}}" {% if v.rozpoczecie == absence.hour %}checked{% endif %} /></td></tr>
{% endfor %}
</table>

<input class="form-control" type="submit" value="Zapisz" />
<a href="{{path('AbsenceAskDeleteAdmin',{classId:classId,id:id})}}" class="mt-3 mb-3 list-group-item list-group-item-action bg-danger" style="text-align:center;color:#fff;">Usuń</a>
</form>
{% endblock %}