{% extends "admin/base.html.twig" %}

{% block body %}
<div class="container m-3">
    <div class="m-3"><b>Czy potwierdzasz usunięcie {{typ}} {{person.name}} {{person.surname}}??</b></div>
    <br />
    <div class="m-3"><a href="{{path('StudentDeleteAdmin',{id:person.id})}}"><button class="button">TAK</button></a></div>
    <div class="m-3"><a href="{{path('mainPageStudentEditAdmin')}}"><button class="button">NIE</button></a></div>
</div>
{% endblock %}