{% extends "admin/base.html.twig" %}

{% block title %}Student - Strona Główna - Admin{% endblock %}

{% block body %}
<div class="m-4"><a href="{{path('StudentAddAdmin')}}"><button class="btn">Dodaj Studenta</button></a></div>
    <table class="table">
        <tr><th>Lp.</th><th>Student</th><th>#</th><th>#</th></tr>
        {% set i = 1 %}
        {% for v in students %}
            <tr>
            <td>{{i}}</td><td>{{v.name}} {{v.surname}}</td>
            <td><a href="{{path('StudentEditAdmin',{id:v.id})}}">Edytuj Studenta</a></td>
            <td><a href="{{path('StudentAskDeleteAdmin',{id:v.id})}}">Usuń Studenta</a></td>
            </tr>
        {% set i = i + 1 %}
        {% endfor %}
    </table>
{% endblock %}