<nav class="nanbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="navbar-item">
                <a class="nav-link" href="{{path('mainPageStudent')}}">Strona Główna</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="{{path('mainMarksStudent')}}">Oceny</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="{{path('mainAbsenceStudent')}}">Nieobecności</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="{{path('timeTableStudent')}}">Plan zajęć</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="{{path('appLogout')}}">Wyloguj</a>
            </li>
        </ul>
    </div>
</nav>