<nav class="nanbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="navbar-item">
                <a class="nav-link" href="{{path('mainPageAdmin')}}">Strona Główna</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="{{path('mainMarksPageAdmin')}}">Oceny</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="{{path('mainPageAbsenceAdmin')}}">Nieobecności</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="{{path('mainPageStudentEditAdmin')}}">Uczniowie</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="{{path('mainPageTeachersEditAdmin')}}">Nauczyciele</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="{{path('mainPageSubjectsAdmin')}}">Przedmioty</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="{{path('mainPageClassesAdmin')}}">Klasy</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="{{path('appLogout')}}">Wyloguj</a>
            </li>
        </ul>
    </div>
</nav>